@import url("https://fonts.googleapis.com/css?family=Roboto");

$primary-color: #7f00ff;
$font-stack: 'Roboto', sans-serif;

.timer {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.button-wrapper {
  text-align: center;
  margin-top: 40px;
}

/* 
$circle-size: 150px;
$circle-border: 5px;
$circle-color: $primary-color;
$secondary-size: 160px;
$font-size-large: 100px;

.master-circle {
  display: inline-flex;
  width: $circle-size;
  height: $circle-size;
}

.circle, .seconds {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: $circle-size;
  height: $circle-size;
}

.circle {
  border: $circle-border solid $circle-color;
  border-radius: $circle-size;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
  animation: clipCircle 10s infinite reverse cubic-bezier(0, 0, 1, 1);

  @keyframes clipCircle {
    0%, 12.5%, 25%, 37.5%, 50%, 62.5%, 75%, 87.5%, 100% {
      clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0%, 50% 0%);
    }
  }
}

.seconds {
  color: $primary-color;
  width: $secondary-size;
  height: $secondary-size;
  font-size: $font-size-large;
  font-family: 'Roboto', sans-serif;
}
 */